
.panel_A
{
	width: 400px;
	height: 250px;
	margin-top: 20px;
	margin-left: 100px;

}

.panel_B
{
	width: 400px;
	height: 500px;
	margin-top: 20px;
	margin-left: 450px;
	float: right;

}

.panel-heading
{
	font-size: 18px;
}

.panel-body
{

}

#ant
{
	
	margin-left: 560px;

}

